.spinner {
    animation: rotate 2s linear infinite;
    width: 10%;
    height: 10%;
    z-index: 2;
    position: relative;
    top: 50%;
    left: 50%;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
        transform-origin: -10px -10px;
    }
}
